*{
  font-family: "Medium";
}

.footer {
  background-color: #212121;
  color: #949494;
  height: auto;
  margin-bottom: -2em;
}

.footer span {
  color: #ffffff;
}


.home-newsletter {
  padding: 40px 0 60px 0;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.home-newsletter .single h2 {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}

.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}

.home-newsletter .single .form-control::placeholder {
  color: #fff;
}

.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #fff000;
  color: #000000;
}


.imgSize{
  height: 100vh;
}

@media only screen and (max-width: 1000px) {
  .imgSize{
    height: auto;
  }
}
.aboutIns{
  /* margin: auto; */
  text-align: left;
  padding: 15px;  
}

.logoImg{
  display: flex;
  justify-content: space-between;
}

.terms{
  display: inline-block;
  text-align: left;
  margin-bottom: -10px;
}

.terms li{
  margin: 10px;
}